<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:component-scan base-package="com.luangeng"/>

    <context:property-placeholder location="classpath:config.properties"/>

    <bean class="com.luangeng.app.SpringUtil"/>

    <!-- 配置服务注册组件 -->
    <bean id="serviceRegistry" class="com.luangeng.zk.ServiceRegistry">
        <constructor-arg name="registryAddress" value="${zk.address}"/>
    </bean>

    <!-- 配置 RPC 服务器 -->
    <bean id="rpcServer" class="com.luangeng.netty.RpcServer">
        <constructor-arg name="serverPort" value="${server.port}"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
    </bean>
</beans>